
.place__website {
    margin-top: 100px;
    margin-bottom: 48px;
    margin-right: 48px;
    margin-left: 0;
    max-width: 456px;
    max-height: 46px;
    display: flex;
    flex-direction: column;
}

.place__website_margin {
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .place__website {
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .place__website {
        display: none;
    }
}