
.place__image {
    max-width: 460px;
    max-height: 460px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__image {
      max-width: 340px;
      max-height: 340px;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    
    .place__image {
      margin: 0 auto;
      max-width: 80%;
      max-height: 80%;
      margin-left: 28px;
    }
}
@media (min-width: 320px) and (max-width: 424px) {

    .place__image {
      max-width: 320px;
      max-height: 320px;
    }
}