.footer__links-li {
    list-style: none;
    margin: 0 18px 0 0;
    padding-left: 0;
    text-align: left;
  }
  .footer__links-li:last-child {
    margin-right: 0;
  }

  @media (min-width: 320px) and (max-width: 767px) {
 
    .footer__links-li {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 32px;
    }
}
@media (min-width: 320px) and (max-width: 424px) {
 
  .footer__links-li {
    margin-left: 0;
    padding-left: 0;
  }
  .footer__links-li:last-child {
    margin-bottom: 0;
  }
}