@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang_li/header__lang-li.css);
@import url(./__lang-links/header__lang-links.css);
.header{ 
  margin: 28px 48px 0 48px;
  max-width: 1184px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

