.footer__author {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}



  
@media (min-width: 320px) and (max-width: 424px) {
 
    .footer__author {
      margin-top: 48px;
      text-align: left;
    }
}

