.footer__links-ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    text-align: left;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .footer__links-ul {
      flex-direction: column;
    }
  }
  @media (min-width: 320px) and (max-width: 424px) {
    .footer__links-ul {
      margin-left: 0;
      padding-left: 0;
      margin-right: auto;
    }
  }