
.place__paragraph {
    margin: 0 0 27px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 484px;
}
.place__paragraph:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 320px) and (max-width: 424px) {

    .place__paragraph {
      font-size: 16px;
      min-width: 288px;
      max-width: 425px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 25px;
    }
    
    .place__paragraph:last-of-type {
        margin-top: 0;
      }
}

@media (min-width: 425px) and (max-width: 767px) {
.place__paragraph {
    font-size: 16px;
  }
}