@media (min-width: 1024px) and (max-width: 1279px) {
  .root {
    max-width: 1024px;
    margin: 0 auto;
}
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
  .lead {
    max-width: 928px;
    margin: 0 auto;
  }
  
  .lead__image-map {
    max-width: calc(100% - 44px);
    max-height: calc(100% - 332px);
    margin: 85px 22px 257px 22px;
  }
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .place {
    max-width: 928px;
    gap: 40px;
  }
  .cover {
    min-height: 640px;
    max-height: 100%;
}
  .cover__overlay {
    min-height: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .root {
    max-width: 768px;   
  }
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
  }
  .lead__image-map {
    max-width: calc(100% - 44px);
    max-height: calc(100% - 332px);
    margin: 85px 22px 257px 22px;
  }

  .intro {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); 
  }
  .place {
    max-width: 720px;
    margin: 0 auto;
    gap: 28px;

  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
  .cover {
    min-height: 480px;
    max-height: 100%;
    margin-top: 90px;
  }
  .cover__overlay {
    min-height: 480px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
    .header {
      margin-left: 24px;
      margin-right: 24px;
    }
    .lead__title {
      font-size: 54px;
      line-height: 58px; 
    }
     .lead__image-map {
        max-width: calc(100% - 36px);
        max-height: calc(100% - 274px);
        margin: 70px 18px 204px 18px;
    
    }
    .lead__caption {
      margin-left: 24px;
    }
    
    .intro {
      margin-left: 24px;
      margin-right: 24px;
      max-width: 720px;
    }
    .photo-grid {
      grid-template-columns: 1fr;
      margin: 0 24px;
    }
    .places{
      gap: 73px;
      margin-left: 24px;
      margin-right: 24px;
      justify-content: center;
    }
    .place  {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 32px;
      max-height: 1fr;
      position: relative;
    }
    .place__title {
      margin-left: 28px;
      font-size: 42px;
      line-height: 46px;
      width: 340px;
      margin: 0 16px 110px 16px;
    }
    .place__image {
      margin: 0 auto;
      max-width: 80%;
      max-height: 80%;
      margin-left: 28px;
    }
    .place__website-paragraph {
      margin-left: 28px;
    }
    .place__website {
      position: absolute;
      left: 16px;
      top: 67px;
      margin: 0;
    }
    .place__paragraph {
      font-size: 16px;
    }
    .cover {
      min-height: 480px;
      max-height: 100%;
    }
    .cover__overlay {
      min-height: 480px;
    }
    .cover__title {
      font-size: 54px;
      line-height: 58px;
      max-width: 425px;
    }
    .footer {
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 64px;
      flex-direction: column;
    }

    .footer__links-ul {
      display: flex;
      flex-direction: column;
    }
    .footer__links-li {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 32px;
    }
}
  
  @media (min-width: 320px) and (max-width: 424px) {
    .root {
      max-width: 320px;   
    }
    
    .header {
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
    .header__logo {
      width: 142px;
      height: 42px;
    }
    .header__lang-links {
       margin-top: 14px;
       margin-bottom: 8px;
    }
    .header__lang-link{
      font-size: 18px;
      line-height: 20px;
     
    }
    .lead__title {
      font-size: 40px;
      line-height: 44px;
    }  
    .lead__subtitle {
      font-size: 16px;
      line-height: 20px;
    }
    .lead__image-map {
      width: 304px;
      height: 85px;
      margin: 29px 7px 85px 7px;
    }
    .lead__caption {
      margin-left: 16px;
    }
    .intro {
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 64px;
    }
    .intro__title {
      font-size: 32px;
      line-height: 35px;
    }
    .photo-grid {
      grid-template-columns: 1fr;
      margin: 0 16px;
    }
    .places{
      gap: 49px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 64px;
      grid-template-columns: 320px;
      grid-template-rows: 1042px 1016px 990px 964px 965px;
      justify-content: center;
    }
    .place  {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 32px;
      position: relative;
    }
    .place__title {
      font-size: 32px;
      line-height: 35px;
      width: 288px;
      margin: 0 16px 110px 16px;
    }
    .place__image {
      max-width: 320px;
      max-height: 320px;
    }
    .place__website-paragraph {
      margin-top: 0;
      margin-left: 16px;
      margin-right: 16px;
    }
    .place__website {
     position: absolute;
     left: 16px;
     top: 67px;
     margin: 0;
    }
    .place__paragraph {
      font-size: 16px;
      min-width: 288px;
      max-width: 425px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .place__paragraph:last-of-type {
      margin-top: 0;
    }
    .cover {
      margin-top: 66px;
      min-height: 200px;
      max-height: 100%;
    }
    .cover__overlay {
      min-height: 200px;
    }
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      width: 288px;
      margin-bottom: 16px;
      margin-top: 33px;
      margin-left: 16px;
      margin-right: 16px;
    }
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
      width: 288px;
    }
    .footer {
      margin-left: 16px;
      flex-direction: column;
      margin-top: 64px;
    }
    
    .footer__links-ul {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      padding-left: 0;
      margin-right: auto;
    }
    .footer__links-li {
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 32px;
      margin-left: 0;
      padding-left: 0;
    }
    .footer__links-li:last-child {
      margin-bottom: 0;
    }
    .footer__link {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 32px;
    }
    .footer__link:last-of-type{
        margin-bottom: 0;
    }
    .footer__author {
      margin-top: 48px;
      text-align: left;
    }
}

