.lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 0 0 0;
    max-width: 640px;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }