@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover{
    max-width: 100%;
    min-height: 100%;
    width: 1184px;
    height: 740px;
    max-height: 100%;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: 100% 100%;
    margin: 92px auto 0 auto;
}


/*@media (min-width: 1024px) and (max-width: 1280px) {
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}*/

@media (min-width: 425px) and (max-width: 768px) {
.cover {
    height: 480px;
    max-height: 100%;
}
}
@media (min-width: 320px) and (max-width: 425px)  {
    .cover {
        margin-top: 66px;
        height: 200px;
    }
}