@import url(../place/__title/place__title.css);
@import url(../place/__image/place__image.css);
@import url(../place/__website-paragraph/place__website-paragraph.css);
@import url(../place/__website/place__website.css);
@import url(../place/__link/place__link.css);
@import url(../place/__url-heading/place__url-heading.css);
@import url(../place/__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}