@import url(./__link/footer__link.css);
@import url(./__author/footer__author.css);

.footer {
    max-width: 1184px;
    margin: 92px 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    
}
.footer__links-ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  text-align: left;
}
.footer__links-li {
  list-style: none;
  margin: 0 18px 0 0;
  padding-left: 0;
  text-align: left;
}
.footer__links-li:last-child {
  margin-right: 0;
}
