
.place__website {
    margin-bottom: 48px;
    margin-left: 0;
    max-width: 456px;
    display: flex;
    flex-direction: column;

}
@media (min-width: 320px) and (max-width: 767px) {
    .place__website {
      position: absolute;
      left: 16px;
      top: 67px;
      margin: 0;
    }
}