
.place__website {
    margin-bottom: 0;
    margin-top: auto;
    margin-left: 0;
    max-width: 456px;
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    margin-top: 0;
  }
 
}
@media (min-width: 320px) and (max-width: 767px) {
.place__website {
  grid-column: 1;
  margin: 0 16px 0 16px;
}
}