
.place__website {
    margin-bottom: 48px;
    margin-left: 0;
    max-width: 456px;
    display: flex;
    flex-direction: column;

}

.place__website_margin {
    margin-top: 20px;
}
@media (min-width: 425px) and (max-width: 768px) {
    
}
@media (min-width: 320px) and (max-width: 425px) {
   
}